
 <div class="container-fluid">
        <div id="home">
              <div class="landing-text">
                          <div class="row" style=" margin-top: 70px; ">
                              <div class="col-sm-6 col-xs-12 col-md-7">
                                  <img src="assets/images/left.jpg">
                              </div>
                              <div class="col-sm-4 text-center">
                                  <h2 style="margin-top: 200px; font-size: 50px;" class="fade">Urban Collection</h2>
                                  <p  class="fade">NEW <p  class="fade" style="font-weight: bold;">COLLECTION</p> <p  class="fade">AW19</p><BR><p  class="fade">MOVEMENT OF AN URBAN GENERATION </p>
                                  </div>
                              </div>
                          </div>
                      </div>




                      <div class="row" style=" margin-top: 10px; width: 100%; ">
                            
                          <div class="col-sm-4 text-center fade1">
                              <h2 style="margin-top: 200px; font-size: 50px;">SHOP<br>SWEATSHIRTS</h2>
                              </div>
                              <div class="col-sm-4 col-xs-12 col-md-4 ">
                                      <img src="assets/images/right.jpg"  >
                                  </div>
                          </div>




                              <div class="row">
                                  <div class="col-sm-10">
                                  <img src="assets/images/gift.jpg" style="width:121%; ">
                              </div>
                              </div>

                              <div>

                              </div>

                              


<video class="video-fluid z-depth-1" style="width:100%"autoplay loop controls muted>
<source src="assets/images/video.mp4" type="video/mp4" />
</video>

</div>
                  